body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
  color: white;
  
  background-color: #1f2029;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg");
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;

  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  position: relative;
  z-index: -2;
}

p {
  color: rgb(255, 255, 255);

  font-size: 22px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color:  #282634;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.1px;
  border-color: rgb(0, 0, 0);
}

h1{
  text-align: center;
}
p{
  padding: 10px 50px;
}
.more {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-right: 20px; /* ist für das burger menu*/
  flex: 0 1 21%;
}
.searchBox {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  width: auto;
  flex: 0 1 100%;
  height: 50px
}

#search {
  display: flex;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  outline: none;
  background-color: white;
  border-radius: 15px;
  width: 35%;
  transition: 0.3s;
  border-style: none;
  color: black;
  height: 85%;
  flex: 1 0 auto;
  padding: 5px 10px 5px 10px;
}
#search:hover::placeholder {
  opacity: 40%;
  width: 100%;
}

#search:hover{
  width: 80%; /* das es nicht über dem burger menu steht*/
}

#search:hover ~ #list{
  width: 100%;
  padding: 6%;
}
#search::placeholder{
  opacity: 100%;
  color: black;
}

#list{
  transition: 0.3s;
  padding: 6%;
  margin: 0;
  width: 100%;
  font-size:  1.5em;
  color: white;
  background-color: #1f2029;
  border-radius: 10px;
  visibility: hidden;
}

#list:hover{
  padding: 6%;
  width: 100%;
}

.searchItem{
  list-style-type: none;
  text-decoration: none;
  transition: ease-out;
  transform: scale(1);
  visibility: hidden;
  text-align: center;
} 

.logo {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  width: 21%;
  align-self: center;
}

.top {
  color: black;
  text-decoration: none;

  font-size: 22px;
  font-style: none;
  text-align: center;
}

.burger {
  display: flex;
  margin-top: 24px; /* für das burger menu */
}

.fa-solid{
  margin-left: 24px;
}
 
.aboutContent{
  display: flex;
  align-content: flex-end;
}
.aboutText{
  display: flex;
  flex-direction: column;
  position: absolute; /*important to set to absolute for sublink to work*/
  z-index: -2;
  padding: 20px 30px 0;
}

.aboutText p{
  margin: 10px 0;
}

.banner{
  display: flex;
  flex-direction: column;
  height: 100px;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
  z-index: -2;
}
.bannerImage{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  z-index: -2;
}

.angeboteContent{
  display: flex;
  flex-direction: column;
  height: 400px;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
  z-index: -2;
  background-color: white;
}

.button{
  border-radius: 15px;
  padding: 10px 30px;
  position: relative;
  display: inline-block;
  background-color: white;

  transition: all 1s ease;
  transform: scale(1);
  size: 100px;
  width: fit-content;
  align-self: center;
}

.button:hover{
  transform: translate(0px, 5px);
}
