html, body {
    height: 100%; /* macht das es den ganzen vertikalen Platz nutzt, ist wichtig!*/
    scroll-behavior: smooth;
}

h2{
    text-align: center;
    margin: 0;
}

.zIndexMask{
    display: flex;
    flex-direction: column;
    z-index: -2;
    flex: 1 0 auto;
}
.zIndexMask a{
    color: white;
    margin: 0 5px 0 5px;
}
.itemHolder{
    display:flex;
    width: 100%;
    flex: 1 0 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #282634;
}

.things{
    flex-wrap:wrap;
    flex-direction: column;
    display: flex;
    align-content:space-between;
    justify-content: center;
}
.thing1{
    width:100%;
    flex-wrap:wrap;
    flex-direction:row;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}

.items{
    display: flex;
    flex-direction: column;
    flex: 4 1 auto;
    border-radius: 5px;
}
.item{
    display: flex;
    flex: 5 0 auto;
    align-content: center;
    border-radius: 5px;
    background-color: #282634;
    margin-bottom: 10px;
    padding: 20px 0;
}
.itemImage{
    align-self: center;
    height: 320px;
    border-radius: 5px;
    margin-left: 3%;
}

.information{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}
.information p{
    display: flex;
    margin: 0;
    font-size: 1em;
    padding: 0;
    justify-content: start;
}
.itemHolder fieldset{
    background-color: #201f2c;
    width: fit-content;
    padding: 0 2px 0 0;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: 7px;
}
.itemHolder legend{
    color: white;
    font-size: 1em;
}
.itemHolder input[type="number"], input[type="text"]{
    border: none;
    background-color: #201f2c;
    color: white;
    padding: 0 8px 10px 10px;
}
.information h3{
    margin: 0;
    font-size: 1.5em;
}
.actions{
    display: flex;
    flex-direction: column;
    margin: 0 3% 0 auto;
    justify-content: space-between;
}
.actions h3{
    margin-top: 3px;
}
.actions a{
    margin-bottom: 4px;
    color: #99989e;
}

.filter{
    display: flex;
    align-content: start;
    justify-content: center;
    background-color: #282634;
    flex: 1 0 auto;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    padding: 30px 20px 20px 20px;
    width: 25%;
}
.filterMask{
    position: fixed;
    width: 300px;
}
.orderSummery{
    display: flex;
    flex-direction: column;
}
.orderSummery h3{
    margin: 0;
    font-size: 1.8em;
}
.filter p{
    display: flex;
    margin: 0;
    padding: 2.5px 0 2.5px 0;
    font-size: 1.1em;
    align-self: start;
    width: 100%;
}
.filter .summe{
    display: flex;
    margin-left: auto;
}
.filter hr{
    width: 100%;
    margin: 30px 0 30px 0;
}
.all{
    display: flex;
    flex-direction: row;
}
.title{
    height: 80px;
    background-color: #282634;
    text-align: center;
    font-size: 60px;
    width: 100%;
    justify-content: center;
    margin-top: 9px;
    padding: 0;
}
.title h2{
    font-size: 70px;
    align-self: center;
}
input[type="reset"]{
    height: 42px;
    align-self: end;
    margin-bottom: 7px;
    margin-left: auto;
    padding: 0 25px 0 25px;
    width: 100%;
}
fieldset{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    accent-color: #838383;
}
.description{
    margin-top: 20px !important;
    width: 200px;
    text-align: left;
}