#phone1 {
    scroll-margin-top: 50px; 
  }

#phone2 {
    scroll-margin-top: 100px;
}

#phone3 {
    scroll-margin-top: 50px; 
  }

#phone4 {
    scroll-margin-top: 100px;
}

#phone5{
    scroll-margin-top: 150px
}

#laptop1 {
    scroll-margin-top: 50px; 
  }

#laptop2 {
    scroll-margin-top: 100px;
}

#laptop3 {
    scroll-margin-top: 50px; 
  }

#laptop4 {
    scroll-margin-top: 100px;
}

#laptop5 {
    scroll-margin-top: 150px
}

#tablet1 {
    scroll-margin-top: 50px; 
}

#tablet2 {
    scroll-margin-top: 100px;
}

#tablet3 {
    scroll-margin-top: 50px; 
  }

#phone4 {
    scroll-margin-top: 100px;
}

#phone5{
    scroll-margin-top: 150px
}