html, body {
    height: 100%; /* macht das es den ganzen vertikalen platz nutzt, ist wichtig!*/
}
h2{
    text-align: center;
}

.zIndexMask{
    display: flex;
    flex-direction: column;
    z-index: -2;
    flex: 1 0 auto;
}
.title{
    flex: 0.6 0 auto;
    height: 80px;
    background-color: #282634;
}
.title h2{
    display: flex;
    font-size: 70px;
    align-self: center;
    margin: 0 0 0 3%;
}
.itemHolder{
    display:flex;
    width: 100%;
    flex: 1 0 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.144);
}
.items p{
    margin: 0px;
    display: flex;
    padding: 0px;
}
.items{
    display: flex;
    flex-direction: column;
    flex: 4 1 auto;
    border-radius: 5px;
    padding-top: 10px;
}
.item{
    display: flex;
    flex: 5 0 auto;
    align-content: center;
    border-radius: 5px;
    background-color: #201f2c;
    margin-bottom: 10px;
}
.item:not(:first-child):not(:last-child){
    padding: 10px 10px 10px 4px;
    flex-direction: row;
    justify-content: start;
}
.itemImage{
    align-self: center;
    height: 220px;
    border-radius: 5px;
    margin-left: 3%;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 4%;
}
.information p{
    margin: 0;
    font-size: 1em;
}
.information fieldset{
    background-color: #201f2c;
    width: fit-content;
    padding: 0 2px 0 0;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: 7px;
}
.information legend{
    color: white;
    font-size: 1em;
}
.information input{
    border: none;
    background-color: #201f2c;
    color: white;
    padding: 0 8px 10px 10px;
}
.information h3{
    margin: 0;
    font-size: 1.5em;
}
.actions{
    display: flex;
    flex-direction: column;
    margin: 0 3% 0 auto;
    justify-content: space-between;
}
.actions h3{
    margin-top: 3px;
}
.actions a{
    margin-bottom: 3px;
    color: #99989e;
}

.checkout{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;
    background-color: #282634;
    flex: 2 0 auto;
    margin: 10px 0 0 10px;
    border-radius: 5px;
    padding: 10px 50px 10px 50px;
}
.orderSummery{
    display: flex;
    flex-direction: column;
}
.orderSummery h3{
    margin: 37px 0 20px 0;
    font-size: 1.7em;
}
.checkout p{
    display: flex;
    margin: 0;
    padding: 2.5px 0 2.5px 0;
    font-size: 1.1em;
    align-self: start;
    width: 100%;
}
.checkout .summe{
    display: flex;
    margin-left: auto;
}
.checkout hr{
    width: 100%;
    margin: 30px 0 30px 0;
}
.total h3{
    margin: 0;
    font-size: 1.7em;
    display: flex;
}
.total p{
    font-size: 0.9em;
}
.total a{
    color: white;
    margin: 0 5px 0 5px;
}
.cartBanner{
    flex: 0.75 0 auto;
    background-color: #282634;
}